<?xml version="1.0" encoding="UTF-8"?>
<?taglib uri="http://www.zkoss.org/dsp/web/core" prefix="c"?>

<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<zk xmlns="http://www.zkoss.org/2005/zul">
    <?init class="ru.apertum.qsky2.qconsole.web.AuthenticationInit"?>

    <window id="dashboardWindow" width="100%"  height="100%"   apply="org.zkoss.bind.BindComposer" viewModel="@id('fmodel') @init('ru.apertum.qsky2.qconsole.web.Dashboard')">
        
        <borderlayout>
            
            <north size="80px" style="background-image:url(${c:encodeURL('/resources/img/small_vert_grad.png')}) ">
                <vbox height="100%" pack="center">
                    <hbox width="100%" style="padding: 15px;" pack="center" align="center">
                        <image id="" src="/resources/img/label48.png" width=""  height=""/>
                        <label id="" style="padding: 30px; font-family: 'Times New Roman', Times, serif; font-style: italic; font-size: 300%;" value="QSystem"/>
                        <hbox pack="center" align="center" style="position: absolute; right: 20; top: 10px; margin:0px 0px 0px 0px; float:right;">
                            <label value="${c:l('language')}" sclass="boxlangs" />
                            <image  src="@load(('/resources/img/flags/').concat(fmodel.lang.code).concat('.png'))" />
                            <combobox id="cmbColor" autodrop="true" readonly="true" width="100px" model="@load(fmodel.langs)" onChange="@command('changeLang')" selectedItem="@bind(fmodel.lang)">
                                <template name="model">
                                    <comboitem label="@load(each.name)" image="@load(('/resources/img/flags/').concat(each.code).concat('.png'))" />
                                </template>
                            </combobox>
                        </hbox>
                    
                    </hbox>
                </vbox>
            </north>
        
            <west title="${c:l('branches')}" size="450px" flex="true" minsize="300" maxsize="800" splittable="true" collapsible="true">
                <panel id="treeBranchWindow">
                    <panelchildren>
                        <style>
                            .h-inline-block {
                            display: inline-block;
                            _display: inline;
                            }
                        </style>
                        <borderlayout>
			
                            <center border="none" flex="true">
                                <tree id="tree" width="100%" height="100%" >
                                    <treecols>
                                        <treecol label="${c:l('branch')}"/>
                                        <treecol label="${c:l('description')}" width="80px"/>
                            
                                    </treecols>
                                </tree>
                            </center>
                            <south size="50px" border="none" flex="false">
                                <hbox spacing="10px" style="border: 10px solid white" >
                                    <button label="${c:l('add_branch')}" onClick="@command('addBranch')">
                                    </button>
                                    <button label="${c:l('remove_branch')}"  onClick="@command('removeBranch')">
                                    
                                    </button>
                                </hbox>
                            </south>
                        </borderlayout>
                    </panelchildren>
                </panel>
            </west>
        
            <center title="${c:l('statistics')}"  flex="true">
                <tabbox  id="tbs" height="100%" width="100%" style="padding: 10px 10px 100px 10px;">
                    <tabs id="tabs">
                        <tab id="rightNowTab" label="${c:l('current')}" />
                        <tab id="statisticsTab" label="${c:l('statistics')}" />
                    </tabs>
                    <tabpanels>
                        <tabpanel style="overflow: auto">
                            <panel style="padding: 10px 10px 15px 10px;">
                                <panelchildren style="background:#FBFFAF">
                                    <div>
                                        <label id="branchName" value="QSystem" style="font-size: 16pt;" />
                                        <div apply="ru.apertum.qsky2.qconsole.web.GaugeClockComposer" style="float:right;">
                                            <label id="timeInBranch"  style="padding: 0px 20px 0px 0px; font-family: 'Times New Roman', Times, serif; font-style: italic; font-size: 38pt;" value="QSystem"/>
                                            <timer id="timer" delay="1000" running="true" repeats="true" />
                                        </div>
                                    </div>
                                    <button style="margin: 10px 0px 5px 5px;" label="${c:l('show_current')}"
                                            onClick="@command('showBranchSituation')">
                                    </button>
                                </panelchildren>
                            </panel>
                            
                            <div id="corSitDiv" visible="true">
                            
                                <hlayout spacing="10px">
                                    <chart id="chartC" width="200" height="200" paneColor="#ffffff" type="dial" model="@bind(fmodel.dialChart.customersModel)"/>
                                    <chart id="chartW" width="200" height="200" paneColor="#ffffff" type="dial" model="@bind(fmodel.dialChart.waitingModel)"/>
                                    <chart id="chartA" width="200" height="200" paneColor="#ffffff" type="dial" model="@bind(fmodel.dialChart.averageModel)"/>
                                </hlayout>
                            
                                <vlayout  style="padding: 10px 10px 30px 10px;">
                                    <chart id="mychart" title="${c:l('top10bussy')}" width="600" height="400" paneColor="#ffffff" fgAlpha="192"
                                           type="pie" threeD="true" model="@bind(fmodel.pieChart.model)" engine="@bind(fmodel.pieChart.engine)"/>
                                </vlayout>  
                            
                            
                                <listbox style="margin: 0px 0px 30px 0px;"  id="services_wait_list" model="@load(fmodel.servicesCustList)" width="" height="500px" onSelect="">
                                    <listhead>
                                        <listheader label="${c:l('service')}" sort="auto"/>
                                        <listheader label="${c:l('line')}" width="70px" sort="auto"/>
                                    </listhead>
                                    <template name="model" var="pSer">
                                        <listitem>
                                            <listcell label="@load(pSer.st)" />
                                            <listcell label="@load(pSer.i)" />
                                        </listitem>
                                    </template>
                                </listbox>
                            </div>
                            
                        </tabpanel>
                        <tabpanel style="overflow:auto; background:#FBFFAF;">
                            
                                <panel id="statPapamPanel"  title="${c:l('params')}" border="normal" >
                                    <panelchildren style="padding: 10px 10px 10px 10px;">
                                        <div>
                                            ${c:l('from_date')}
                                            <datebox id="db1" constraint="no empty, no future: now or never" cols="20" format="long"
                                                     value="@save(fmodel.statVM.start, before={'showBranchStatistic','downloadBranchStatistic'})"
                                                     onChange="GregorianCalendar gc = new GregorianCalendar(); gc.setTime(self.value); gc.set(GregorianCalendar.DAY_OF_YEAR, gc.get(GregorianCalendar.DAY_OF_YEAR) -1); db2.setConstraint(new SimpleDateConstraint( 0, gc.getTime(), new Date(), null));" 
                                                     onCreate="self.value = new Date()"/>
                                            ${c:l('to_date')} 
                                            <datebox id="db2" constraint="" cols="20" format="long" 
                                                     value="@save(fmodel.statVM.finish, before={'showBranchStatistic','downloadBranchStatistic'})"
                                                     onCreate="self.value = new Date()"/>
                                            
                                        </div>
                                        <radiogroup id="user_serv" orient="vertical" selectedIndex="@save(fmodel.statVM.regim, before={'showBranchStatistic','downloadBranchStatistic'})" onCheck="">
                                            <radio id="user_serv1" selected="true" label="${c:l('in_employee')}" radiogroup="user_serv"/>
                                            <radio id="user_serv2" label="${c:l('in_service')}" radiogroup="user_serv"/>
                                        </radiogroup>
                                        <div style="border: 10px solid white">
                                            <button label="${c:l('show')}" onClick="@command('showBranchStatistic')">
                                            </button>
                                            <button label="${c:l('get_stat_csv')}" onClick="@command('downloadBranchStatistic')" style="margin: 0px 0px 0px 0px; float:right;">
                                            </button>
                                        </div>
                                    </panelchildren>
                                </panel>
                                
                                
                                <grid visible="@load( (fmodel.statVM.regim == 0) ? true : true)" id="statisticGrid" 
                                      model="@bind(fmodel.statVM.statisticModel)">
                                    
                                    <columns  sizable="true">
                                        <column sort="auto(serviceName)" label="@load( (fmodel.statVM.regim == 0) ? fmodel.l('service') : fmodel.l('employee'))" width="450px"/>
                                        <column sort="auto(served)" label="${c:l('served')}"  align="center"/> 
                                        <column sort="auto(removed)" label="${c:l('killed')}"  align="center"/>
                                        <column sort="auto(avgMin)" label="${c:l('avg')}"  align="center"  />
                                    </columns>
                                    <!-- template for group ->
                                    <template name="model:group">
                                        <group label="@load(each)" />
                                    </template>
         
                                <!- template for each element in model -->
                                <template name="model">
                                    <row>
                                        <label value="@load( (fmodel.statVM.regim == 0) ? each.serviceName : each.employeeName)" />
                                        <label value="@load(each.served)" />
                                        <label value="@load(each.removed)" />
                                        <label value="@load(each.avgMin)" />
                                    </row>
                                </template>
             
                                <!-- template for footer -->
                                <template name="model:groupfoot">
                                    <groupfoot>
                                        <cell colspan="4" style="text-align: right; padding-right: 15px">
                                            <label value="@load(each)" style="font-weight:bold;" />
                                        </cell>
                                    </groupfoot>
                                </template>
                                    
                                <foot>
                                    <footer span="4" id="footer_category" sclass="footer_right" label="No data"/>
                                </foot>
                            </grid>
                                
                                
                        </tabpanel>
                        
                    </tabpanels>
                </tabbox>
				
            </center>
            <east title="${c:l('info')}" size="125px" visible="false"  flex="true" splittable="true" collapsible="true">
				
            </east>
            <south  size="40px" style="background-image:url(${c:encodeURL('/resources/img/small_vert_grad2.png')}) ">
                <toolbar mold="panel" align="center">
                    <toolbarbutton label="${c:l('forum')}" href="http://qsystem.info/index.php/forum/index" target="_blank" />
                    <toolbarbutton label="${c:l('man')}" onClick='alert("Not ready")'/>
                    <toolbarbutton label="${c:l('about')}" onClick="@command('about')"/>
                    <toolbarbutton label="{Apertum}Projects" href="http://apertum.ru" target="_blank" />
                    <toolbarbutton label="QSystem" href="http://qsystem.info" target="_blank" />
                    <toolbarbutton label="${c:l('support')}"  href="mailto:info@apertum.ru" target="_blank" />
                    <separator orient="vertical" bar="true" />
                    {Apertum}Projects Powered by ZK ${desktop.webApp.version} 
                </toolbar>
            
            </south>
        </borderlayout>
        <div id="forInvisibleIncludes" height="0px" width="0px">
            <include id="incBranchPropsDialog" src="~./include/branchPropsDialog.zul"/>
        </div>
        
    </window>
    
    
</zk>
